@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
}

<div class="text-center">
  <form method="post">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6 col-md-auto col-lg-4">
          <label for="marca" class="form-label">Marca:</label>
          <input type="text" class="form-control" placeholder="Marca" asp-for="Bus.marca">
          <span class="text-danger" asp-validation-for="Bus.marca"></span>
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="modelo" class="form-label">Digite el modelo:</label>
          <input type="number" class="form-control" placeholder="Modelo" asp-for="Bus.modelo">
          <span class="number-danger" asp-validation-for="Bus.modelo"></span>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="kilometraje" class="form-label">Digite el kilometraje</label>
          <input type="number" class="form-control" placeholder="kilometraje" asp-for="Bus.kilometraje">
          <span class="number-danger" asp-validation-for="Bus.kilometraje"></span>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="numero_asientos" class="form-label">Digite el numero de asientos:</label>
          <input type="number" class="form-control" placeholder="# de asientos" asp-for="Bus.num_asientos">
          <span class="number-danger" asp-validation-for="Bus.num_asientos"></span>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="Placa" class="form-label">Digite la placa del bus:</label>
          <input type="text" class="form-control" placeholder="Placa" asp-for="Bus.placa" required minlength="6" maxlength="6">
          <span class="text-danger" asp-validation-for="Bus.placa"></span>
        </div>
      </div>
      <br>

    </div>


    <hr>
    <button type="submit" class="btn btn-success" style="font-family: cursive;color:black">  &nbspEnviar&nbsp  </button>


  </form>
</div>