@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Numero de asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Chevrolet</td>
      <td>2012</td>
      <td>150000</td>
      <td>35</td>
      <td>ABC123</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ford</td>
      <td>2015</td>
      <td>135000</td>
      <td>30</td>
      <td>WER456</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mazda</td>
      <td>2010</td>
      <td>180000</td>
      <td>25</td>
      <td>CVB963</td>
    </tr>
  </tbody>
</table>