@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutaModel
@{
}

<div class="text-center">
  <form method="post">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6 col-md-auto col-lg-4">
          <label for="origen" class="form-label">Digite el origen:</label>
          <input type="number" class="form-control" placeholder="Origen" asp-for="Ruta.origen">
          <span class="number-danger" asp-validation-for="Ruta.origen"></span>
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="destino" class="form-label">Digite el destino:</label>
          <input type="number" class="form-control" placeholder="Destino" asp-for="Ruta.destino">
          <span class="number-danger" asp-validation-for="Ruta.destino"></span>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="tiempo_estimado" class="form-label">Digite tiempo estimado:</label>
          <input type="number" class="form-control" placeholder="Tiempo_estimado" asp-for="Ruta.tiempo_estimado">
          <span class="number-danger" asp-validation-for="Ruta.tiempo_estimado"></span>
        </div>
      </div>
      <br>

    </div>


    <hr>
    <button type="submit" class="btn btn-success" style="font-family: cursive;color:black">  &nbspEnviar&nbsp  </button>


  </form>
</div>