@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo_estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Portal norte</td>
      <td>Portal Sur</td>
      <td>120</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Portal sur</td>
      <td>Ricaurte</td>
      <td>60</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Portal norte</td>
      <td>Portal 80</td>
      <td>50</td>
    </tr>
  </tbody>
</table>