@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionModel
@{
}

<div class="text-center">
  <form method="post">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6 col-md-auto col-lg-4">
          <label for="nombre" class="form-label">Digite el nombre:</label>
          <input type="text" class="form-control"placeholder="Nombre" asp-for="Estacion.nombre">
          <span class="text-danger" asp-validation-for="Estacion.nombre"></span>
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="direccion" class="form-label">Digite direccion:</label>
          <input type="text" class="form-control" placeholder="Direccion" asp-for="Estacion.direccion">
          <span class="text-danger" asp-validation-for="Estacion.direccion"></span>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="coord_x" class="form-label">Digite coordenada X:</label>
          <input type="number" class="form-control" placeholder="Coord_x" asp-for="Estacion.coord_x">
          <span class="number-danger" asp-validation-for="Estacion.coord_x"></span>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="coord_y" class="form-label">Digite coordenada Y:</label>
          <input type="number" class="form-control" placeholder="Coord_y" asp-for="Estacion.coord_y">
          <span class="number-danger" asp-validation-for="Estacion.coord_y"></span>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="tipo" class="form-label">Digite el tipo de estacion:</label>
          <input type="text" class="form-control" placeholder="Tipo" asp-for="Estacion.tipo">
          <span class="text-danger" asp-validation-for="Estacion.tipo"></span>
        </div>
      </div>
      <br>

    </div>


    <hr>
    <button type="submit" class="btn btn-success" style="font-family: cursive;color:black">  &nbspEnviar&nbsp  </button>


  </form>
</div>