@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Coord_x</th>
      <th scope="col">Coord_y</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Portal</td>
      <td>Norte</td>
      <td>1</td>
      <td>10</td>
      <td>Base</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Portal</td>
      <td>Sur</td>
      <td>10</td>
      <td>1</td>
      <td>Base</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ricaurte</td>
      <td>Centro</td>
      <td>2</td>
      <td>5</td>
      <td>Trasbordo</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Portal 80</td>
      <td>Occidente</td>
      <td>8</td>
      <td>3</td>
      <td>Base</td>
    </tr>
  </tbody>
</table>